@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MasterPartialView</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>

<script>
    function CheckLoginOrNotForWishList() {
        Check_LoginOrNotForWishList();
    }
</script>